In [33]:
import pandas as pd

bank_df_clients = pd.read_csv('../data/raw/BankChurners.csv',encoding='latin-1', sep=',')
bank_df_clients.info()
bank_df_clients.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [34]:
#Como quiero predecir si un cliente va a abandonar el banco o no, elimino la columnas innecesarias para la predicción

bank_df_clients = bank_df_clients.drop(columns=["CLIENTNUM", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1", "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"])
bank_df_clients= bank_df_clients.rename(columns={'Attrition_Flag': 'permanencia','Customer_Age': 'edad', 'Gender': 'genero', 'Dependent_count': 'num_personas_dependientes', 'Education_Level': 'nivel_educativo', 'Marital_Status': 'estado_civil', 'Income_Category': 'banda_salarial', 'Card_Category': 'categoria_tarjeta','Months_on_book': 'num_meses_cliente','Total_Relationship_Count': 'productos_financieros_contratados','Months_Inactive_12_mon': 'num_meses_inactivo_12_meses','Contacts_Count_12_mon': 'veces_contactado_12_meses','Credit_Limit': 'limite_credito','Total_Revolving_Bal': 'saldo_pendiente_tarjeta', 'Avg_Open_To_Buy': 'credito_disponible', 'Total_Amt_Chng_Q4_Q1': 'dif_cantidad_gastada_trimestre', 'Total_Trans_Amt': 'credito_gastado_anual', 'Total_Trans_Ct': 'total_transacciones', 'Total_Ct_Chng_Q4_Q1': 'dif_total_trans_trimestre', 'Avg_Utilization_Ratio': 'ratio_utilizacion_credito'})
print('Hay valores nulos:', bank_df_clients.isnull().values.any())
bank_df_clients

Hay valores nulos: False

,permanencia,edad,genero,num_personas_dependientes,nivel_educativo,estado_civil,banda_salarial,categoria_tarjeta,num_meses_cliente,productos_financieros_contratados,num_meses_inactivo_12_meses,veces_contactado_12_meses,limite_credito,saldo_pendiente_tarjeta,credito_disponible,dif_cantidad_gastada_trimestre,credito_gastado_anual,total_transacciones,dif_total_trans_trimestre,ratio_utilizacion_credito
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [39]:
#Separo los primeros 100 registros para evitar que el modelo entrene con estos datos y que podamos probar la efectividad

df_prediccion = bank_df_clients.iloc[:100]
bank_df_clients = bank_df_clients.iloc[100:]

bank_df_clients.to_csv('../data/processed/clientes_banco.csv', index=False)
df_prediccion.to_csv('../data/processed/datos_para_predecir.csv', index=False)

,permanencia,edad,genero,num_personas_dependientes,nivel_educativo,estado_civil,banda_salarial,categoria_tarjeta,num_meses_cliente,productos_financieros_contratados,num_meses_inactivo_12_meses,veces_contactado_12_meses,limite_credito,saldo_pendiente_tarjeta,credito_disponible,dif_cantidad_gastada_trimestre,credito_gastado_anual,total_transacciones,dif_total_trans_trimestre,ratio_utilizacion_credito
200,Existing Customer,48,M,4,Unknown,Married,$80K - $120K,Blue,36,5,3,0,5288.0,866,4422.0,0.869,1777,42,0.750,0.164
201,Existing Customer,44,M,5,Graduate,Married,$60K - $80K,Blue,32,4,5,3,11376.0,2006,9370.0,0.619,1302,27,0.800,0.176
202,Existing Customer,48,M,3,College,Married,$80K - $120K,Blue,41,4,5,3,12302.0,1632,10670.0,1.509,1483,41,0.519,0.133
203,Existing Customer,47,M,4,Graduate,Married,$60K - $80K,Silver,33,3,2,1,34516.0,1679,32837.0,0.623,1060,27,0.500,0.049
204,Existing Customer,47,M,2,Graduate,Married,$60K - $80K,Silver,32,4,2,2,34516.0,1468,33048.0,0.505,1330,32,0.684,0.043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,Existing Customer,60,M,0,High School,Married,$40K - $60K,Blue,36,5,1,3,3281.0,837,2444.0,1.859,1424,29,1.417,0.255
296,Existing Customer,55,M,2,High School,Married,$40K - $60K,Blue,47,5,3,2,3096.0,2217,879.0,0.799,2011,41,0.783,0.716
297,Existing Customer,62,F,0,High School,Married,$40K - $60K,Blue,52,5,2,3,2052.0,1250,802.0,0.728,1208,31,0.632,0.609
298,Existing Customer,38,F,1,High School,Unknown,Less than $40K,Blue,30,2,3,0,1438.3,583,855.3,0.888,1259,24,1.000,0.405
299,Existing Customer,46,M,3,High School,Single,$40K - $60K,Blue,39,2,3,2,9432.0,1418,8014.0,0.612,1319,26,0.368,0.150